<app-header headerName="Inscripción">

</app-header>

<ion-content fullscreen>

  <form #formTeinfar="ngForm">
    <ion-list lines="none" inset="true">
      <ion-item>
        <ion-icon slot="start" name="alarm"></ion-icon>
        <ion-label>Fecha de inicio</ion-label>
        <ion-datetime name="din_feci"  [(ngModel)]="din_feci" display-format="DD.MM.YYYY"></ion-datetime>
      </ion-item>           
    </ion-list>

    <div padding>
      <ion-button  [disabled]="din_feci == undefined || loading" (click)="ShowConfirm()"  fill="solid" color="secondary" expand="block">
        <ng-container *ngIf="_service.loading | async;else notLoading">
          <ion-spinner  slot="start"></ion-spinner>
          Guardando...               
         </ng-container>                   
        <ng-template #notLoading>
          <ion-icon  slot="start" name="clipboard"></ion-icon>     
          Incribirme
        </ng-template>
  
      </ion-button>
    </div>
   

  </form>

  <app-alert></app-alert>
</ion-content>