<div class="container">
    <ion-item lines="full"  tappable (click)="isMenuOpen=!isMenuOpen">        
      <ion-button fill="outline" slot="end" color="tertiary">
        <ion-icon slot="end" [name]="!isMenuOpen?'add-circle':'remove-circle'">

        </ion-icon> Ver
      </ion-button>
        <ion-label>{{title}}</ion-label>
     
      </ion-item>
    <ion-card *ngIf="isMenuOpen" [ngClass]="isMenuOpen?'dark':'light'" >
      <div >
        <div   [ngStyle]="{background: 'url(assets/imgs/' + imgParam + ')'}"  class="img">
          </div>
      <ion-card-header>                                   
              <ion-item lines="none">
                  <ion-card-title>{{title}}
                    </ion-card-title>
            <ion-icon slot="end" [name]="!isMenuOpen?'arrow-dropdown-circle':'arrow-dropup-circle'"></ion-icon>
        </ion-item>
       
      </ion-card-header>
      <div >
      <ion-card-content>
        <ng-content>
    
        </ng-content>
      </ion-card-content>
      </div>
      </div>
      <ng-content select="[buttonArea]"></ng-content>
      
      
    </ion-card>
</div>



