<ion-header>
  <ion-toolbar>
    <ion-title>tuplatu</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list lines="none">
    <ion-item *ngFor="let item of tuplatu" button detail start>
      <ion-thumbnail slot="start">
        <img  src="assets/icon/language.svg">
      </ion-thumbnail>
      <ion-label>
        <h3>{{item.pla_nomb}}</h3>
        <h3>{{item.pla_codi}}</h3>
      </ion-label>      
      <ion-button fill="outline" slot="end">View</ion-button>
    </ion-item>
  </ion-list>

</ion-content>