<app-header headerName="Escuelas y cursos deportivos"></app-header>
<ion-content>

  <ion-list lines="none">
    <ion-item *ngFor="let item of etcurso" button detail start>
      <ion-thumbnail slot="start">
        <img  src="assets/icon/weightlifter.svg">
      </ion-thumbnail>
      <ion-label>
        <h3>{{item.cur_nomb}}</h3>
        <h3>{{item.cur_dias}}</h3>
      </ion-label>      
      <ion-button fill="outline" slot="end">View</ion-button>
    </ion-item>
  </ion-list>

</ion-content>
