<app-header headerName="Planes de gimnasio">
</app-header>
<ion-content fullscreen class="ion-padding">
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ng-container *ngIf="!loading">
  
           
      <app-toggable-card [title]="plane.pla_nomb" imgParam="gym.png" [subTitle]="plane.pla_clas" *ngFor="let plane of gmplane">
          <div #bodyArea>
              <ion-grid fixed>
                  <ion-row>
                    <ion-col size="3">
                      <div class="card-content">
                        <ion-label>
                          <ion-icon slot="start" src="assets/icon/laptop-code-solid.svg"></ion-icon>
                        </ion-label>
                      </div>
                      <div class="card-content-title">
                        Código
                      </div>
                      <div class="card-content-subtitle">
                        <ion-label>
                          {{plane.pla_codi}}
                        </ion-label>
                      </div>
                    </ion-col>
        
                    <ion-col size="3">
                      <div class="card-content">
                        <ion-label>
                          <ion-icon slot="start" name="calendar"></ion-icon>
                        </ion-label>
                      </div>
                      <div class="card-content-title">
                        Meses
                      </div>
                      <div class="card-content-subtitle">
                        <ion-label>
                          {{plane.pla_mese}}
                        </ion-label>
                      </div>
                    </ion-col>
                    <ion-col size="3">
                      <div class="card-content">
                        <ion-label>
                          <ion-icon slot="start" name="person"></ion-icon>
                        </ion-label>
                      </div>
                      <div class="card-content-title">
                        Edad mínima
                      </div>
                      <div class="card-content-subtitle">
                        <ion-label>
                          {{plane.pla_emin}}
                        </ion-label>
                      </div>
                    </ion-col>
                    <ion-col size="3">
                      <div class="card-content">
                        <ion-label>
                          <ion-icon slot="start" src="assets/icon/route-solid.svg"></ion-icon>
                        </ion-label>
                      </div>
                      <div class="card-content-title">
                        Requiere rutina
                      </div>
                      <div class="card-content-subtitle">
                        <ion-label>
                          {{plane.pla_rrut=='N'?'No':'Si'}}
                        </ion-label>
                      </div>
                    </ion-col>
                   
                  </ion-row>          
                </ion-grid> 
          </div>
       
        <div #divArea>
            <ion-button  color="success" Expand="full" (click)="openGmInfar(plane)">
                <ion-icon slot="start" name="eye"></ion-icon>
               Inscribirme
              </ion-button>
          
        </div>
        
      </app-toggable-card>

      
      <!-- <ion-card-header (click)="toggleAccordion()">
        <ion-card-title>{{plane.pla_nomb}}</ion-card-title>
        <ion-card-subtitle>Clases:{{plane.pla_clas}}</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content #cc> -->
        <!-- <ion-grid fixed>
          <ion-row>
            <ion-col size="3">
              <div class="card-content">
                <ion-label>
                  <ion-icon slot="start" src="assets/icon/laptop-code-solid.svg"></ion-icon>
                </ion-label>
              </div>
              <div class="card-content-title">
                Código
              </div>
              <div class="card-content-subtitle">
                <ion-label>
                  {{plane.pla_codi}}
                </ion-label>
              </div>
            </ion-col>

            <ion-col size="3">
              <div class="card-content">
                <ion-label>
                  <ion-icon slot="start" name="calendar"></ion-icon>
                </ion-label>
              </div>
              <div class="card-content-title">
                Meses
              </div>
              <div class="card-content-subtitle">
                <ion-label>
                  {{plane.pla_mese}}
                </ion-label>
              </div>
            </ion-col>
            <ion-col size="3">
              <div class="card-content">
                <ion-label>
                  <ion-icon slot="start" name="person"></ion-icon>
                </ion-label>
              </div>
              <div class="card-content-title">
                Edad mínima
              </div>
              <div class="card-content-subtitle">
                <ion-label>
                  {{plane.pla_emin}}
                </ion-label>
              </div>
            </ion-col>
            <ion-col size="3">
              <div class="card-content">
                <ion-label>
                  <ion-icon slot="start" src="assets/icon/route-solid.svg"></ion-icon>
                </ion-label>
              </div>
              <div class="card-content-title">
                Requiere rutina
              </div>
              <div class="card-content-subtitle">
                <ion-label>
                  {{plane.pla_rrut=='N'?'No':'Si'}}
                </ion-label>
              </div>
            </ion-col>
           
          </ion-row>          
        </ion-grid>        -->
      <!-- </ion-card-content>     -->
     
          
     
   
    
  </ng-container>

  <div *ngFor="let item of  [1,2,3,4,5] ">
    <ion-card *ngIf="loading">
      <ion-skeleton-text class="custom-skeleton-card" animated></ion-skeleton-text>
      <ion-card-header>
        <ion-skeleton-text animated width="50%"></ion-skeleton-text>
        <ion-skeleton-text animated width="30%"></ion-skeleton-text>
      </ion-card-header>
      <ion-card-content>
        <ion-grid fixed>
          <ion-row>
            <ion-col text-left size="6">
              <ion-skeleton-text animated width="100%"></ion-skeleton-text>
            </ion-col>
            <ion-col text-right size="6">
              <ion-label>
                <ion-skeleton-text animated width="100%"></ion-skeleton-text>
              </ion-label>

            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col text-left size="6">
              <ion-label>
                <ion-skeleton-text animated width="100%"></ion-skeleton-text>
              </ion-label>
            </ion-col>
            <ion-col text-right size="6">
              <ion-label>
                <ion-skeleton-text animated width="100%"></ion-skeleton-text>
              </ion-label>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>
  </div>
  <app-alert></app-alert>
</ion-content>
