.card-icon{
    font-size: 3.5rem;
    text-align: center;
    vertical-align: center;
}
.card-title{
    text-align: center;
    font-size: 0.8rem;
}
.main-title{
    color:white;
   
}
 // border: 1px solid darkgray;
 .main-header {    
     color:white;           
}
.header {
    background: var(--ion-color-primary);
}
.main-img {       
    ion-icon {       
        font-size: 3.5rem;
    }   
}


