<app-header headerTitle="Perfil">

</app-header>
<ion-content>
   
        <ion-item button (click)="goSuAfili()">
          <ion-icon name="CONTACTS" slot="start"></ion-icon>
           Mi grupo familiar
        </ion-item>
        <ion-item button (click)="goOut()">
          <ion-icon name="log-out" slot="start"></ion-icon>
           Salir
        </ion-item>
        <ion-item button (click)="erraseData()">
            <ion-icon name="trash" slot="start"></ion-icon>
             Borrar datos de usuario
          </ion-item>

</ion-content>
