<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="gmplane">
      <ion-icon name="eye"></ion-icon>
      <ion-label>Planes</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="dtendep">
        <ion-icon name="bicycle"></ion-icon>
      <ion-label>Deportes</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="etcurso">
        <ion-icon name="school"></ion-icon>
      <ion-label>Cursos</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tecuter">
        <ion-icon name="contact"></ion-icon>
      <ion-label>Tercera edad</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tuplatu">
        <ion-icon name="jet"></ion-icon>
      <ion-label>Turismo</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
ilist