ion-tab-bar {
    min-height: 4em;
    overflow-x: scroll;
    justify-content: left;    
    ion-label{
        font-size: 1.2em;
    }
}

ion-icon{
    font-size: 4.5em;
}

ion-tab-button{
    padding-right: 1.5em;
}

