<app-header headerName="Consulta Asistencias"></app-header>

<ion-content>  
  <ion-item>
    <ion-label>Fecha Inicial</ion-label>
    <ion-icon slot="start" src="assets/icon/calendar-alt-solid.svg"></ion-icon>
    <ion-datetime displayFormat="DD/MM/YYYY" 
                  min="1994-03-14"
                  (ionChange)="CambioFechaInic($event)"
                  name="asi_fein"></ion-datetime>          
  </ion-item>
  <ion-item>
    <ion-label>Fecha Final</ion-label>
    <ion-icon slot="start" src="assets/icon/calendar-alt-solid.svg"></ion-icon>
    <ion-datetime displayFormat="DD/MM/YYYY"  
                  min="1994-03-14"
                  (ionChange)="CambioFechaFini($event)"
                  name="asi_fefi"></ion-datetime>                               
  </ion-item>

  <ion-item [disabled]="enableButton" (click)="GetAsistenciasTE()">
    <ion-icon slot="start" src="assets/icon/chalkboard-teacher-solid.svg"></ion-icon>
    <ion-label>Curso</ion-label>
    <ion-note slot="end"> {{apc_desc}} </ion-note>
  </ion-item>

  <ion-button expand="block" 
              class="btn-cons"
              type="submit"
              [disabled]="enableButton"
              (click)="BuscarAsis()">                
      Buscar Asistencias
    </ion-button>
</ion-content>
