<app-header headerName="Grupo familiar"></app-header>
<ion-content fullscreen class="ion-padding">
    <ng-container *ngFor="let item of suAfili" class="bounceIn" >
      <ion-list line="none">
        <ion-list-header color="primary">      
            <ion-label>
              <h1>{{item.afi_nom1}} {{item.afi_ape1}}</h1>
              <p>Persona a cargo</p>
            </ion-label>
          </ion-list-header>
          <ion-item>
            <ion-icon slot="start" name="person"></ion-icon>
            <ion-label>Nombres</ion-label>
            <ion-note slot="end">{{item.afi_nom1}} {{item.afi_nom2}}</ion-note>
          </ion-item>
          <ion-item>
            <ion-icon slot="start" name="person"></ion-icon>
            <ion-label>Apellidos</ion-label>
            <ion-note slot="end">{{item.afi_ape1}} {{item.afi_ape2}}</ion-note>
          </ion-item>
          <ion-item>
            <ion-icon slot="start" name="today"></ion-icon>
            <ion-label>Identificación</ion-label>
            <ion-note slot="end">{{item.afi_docu}}</ion-note>
          </ion-item>
          <ion-item>
            <ion-icon slot="start" name="thumbs-up"></ion-icon>
            <ion-label>Categoría</ion-label>
            <ion-note slot="end">{{item.afi_cate}}</ion-note>
          </ion-item>
          <ion-item>
              <ion-icon slot="start" name="information-circle"></ion-icon>
              <ion-label>Estado</ion-label>
              <ion-note slot="end">{{item.afi_esta=='A'?'Activo':'Inactivo'}}</ion-note>
            </ion-item>
          </ion-list>
    </ng-container>
    
    
  <!-- <ion-list lines="none" class="bounceIn"  *ngIf="suAfili">
      <ion-list-header>
          <ion-label>Personas a cargo</ion-label>
        </ion-list-header> 
        

              <ion-item  detail  *ngFor="let afili of suAfili">
                  <ion-avatar slot="start">
                    <img src="assets/icon/user-tie-solid.svg">
                  </ion-avatar>                                          
                </ion-item>

                
       
          <div *ngIf="suAfili">
        <ion-item-divider>
            <ion-label>Conyugue</ion-label>
          </ion-item-divider>
          <ion-item-group>
              <ion-item  detail>
                  <ion-avatar slot="start">
                    <img src="assets/icon/user-tie-solid.svg">
                  </ion-avatar>                
                   <ion-label> 
                      <ion-icon slot="start" name="person"></ion-icon>                                          
                      <h3>{{ suAfili[0].con_nom1}} {{ suAfili[0].con_nom2}}</h3>
                      <p> {{ suAfili[0].con_ape1}} {{ suAfili[0].con_ape2}}</p>
                    </ion-label>  
                      <ion-label>                       
                        <ion-icon slot="start" src="assets/icon/address-card-regular.svg"></ion-icon>                       
                        <h3>Identificación</h3>
                        <p>{{suAfili[0].con_docu}}</p>
                      </ion-label>                
                </ion-item>
          </ion-item-group>
        </div>
            
          
  </ion-list> -->



      <ion-list id="skeleton" *ngIf="loading">
          <ion-list-header>
            <ion-skeleton-text animated style="width: 80px"></ion-skeleton-text>
          </ion-list-header>
          <ion-item>
            <ion-thumbnail slot="start">
              <ion-skeleton-text></ion-skeleton-text>
            </ion-thumbnail>
            <ion-label>
              <h3>
                <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
              </h3>
              <p>
                <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
              </p>
              <p>
                <ion-skeleton-text animated style="width: 30%"></ion-skeleton-text>
              </p>
            </ion-label>
          </ion-item>
          <ion-item>
            <ion-thumbnail slot="start">
              <ion-skeleton-text></ion-skeleton-text>
            </ion-thumbnail>
            <ion-label>
              <h3>
                <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
              </h3>
              <p>
                <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
              </p>
              <p>
                <ion-skeleton-text animated style="width: 30%"></ion-skeleton-text>
              </p>
            </ion-label>
          </ion-item>
          <ion-item>
            <ion-thumbnail slot="start">
              <ion-skeleton-text></ion-skeleton-text>
            </ion-thumbnail>
            <ion-label>
              <h3>
                <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
              </h3>
              <p>
                <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
              </p>
              <p>
                <ion-skeleton-text animated style="width: 30%"></ion-skeleton-text>
              </p>
            </ion-label>
          </ion-item>
          <ion-item>
            <ion-thumbnail slot="start">
              <ion-skeleton-text></ion-skeleton-text>
            </ion-thumbnail>
            <ion-label>
              <h3>
                <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
              </h3>
              <p>
                <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
              </p>
              <p>
                <ion-skeleton-text animated style="width: 30%"></ion-skeleton-text>
              </p>
            </ion-label>
          </ion-item>
          <ion-item>
            <ion-thumbnail slot="start">
              <ion-skeleton-text></ion-skeleton-text>
            </ion-thumbnail>
            <ion-label>
              <h3>
                <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
              </h3>
              <p>
                <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
              </p>
              <p>
                <ion-skeleton-text animated style="width: 30%"></ion-skeleton-text>
              </p>
            </ion-label>
          </ion-item>
          <ion-item>
            <ion-thumbnail slot="start">
              <ion-skeleton-text></ion-skeleton-text>
            </ion-thumbnail>
            <ion-label>
              <h3>
                <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
              </h3>
              <p>
                <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
              </p>
              <p>
                <ion-skeleton-text animated style="width: 30%"></ion-skeleton-text>
              </p>
            </ion-label>
          </ion-item>
          <ion-item>
            <ion-thumbnail slot="start">
              <ion-skeleton-text></ion-skeleton-text>
            </ion-thumbnail>
            <ion-label>
              <h3>
                <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
              </h3>
              <p>
                <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
              </p>
              <p>
                <ion-skeleton-text animated style="width: 30%"></ion-skeleton-text>
              </p>
            </ion-label>
          </ion-item>
          <ion-item>
            <ion-thumbnail slot="start">
              <ion-skeleton-text></ion-skeleton-text>
            </ion-thumbnail>
            <ion-label>
              <h3>
                <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
              </h3>
              <p>
                <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
              </p>
              <p>
                <ion-skeleton-text animated style="width: 30%"></ion-skeleton-text>
              </p>
            </ion-label>
          </ion-item>
  
        </ion-list>

        <app-alert></app-alert>
</ion-content>