
#data {
    display: none;
  }
  #skeleton {
    display: block;
  }

  /* Custom Skeleton Line Height and Margin */
.custom-skeleton ion-skeleton-text {
    line-height: 13px;
  }
  
  .custom-skeleton ion-skeleton-text:last-child {
    margin-bottom: 5px;
  }

  ion-item,ion-list{
    --background:transparent;
}
ion-list {
    border-radius: 10px;
    box-shadow: 0 4px 16px rgba(0,0,0,.12);

}
ion-list-header {
    padding: 1em;
}
