<app-header headerName="Consulta Asistencias"></app-header>

<ion-content>
    <ion-item>
        <ion-icon slot="start" src="assets/icon/calendar-alt-solid.svg"></ion-icon>
        <ion-label>Fecha Inicial</ion-label>
        <ion-datetime displayFormat="MM/DD/YYYY" 
                      min="1994-03-14"
                      (ionChange)="CambioFechaInic($event)"></ion-datetime>          
      </ion-item>
      <ion-item>
        <ion-icon slot="start" src="assets/icon/calendar-alt-solid.svg"></ion-icon>
        <ion-label>Fecha Final</ion-label>
        <ion-datetime displayFormat="MM/DD/YYYY" 
                      min="1994-03-14"
                      (ionChange)="CambioFechaFini($event)"
                      name="fechFin"></ion-datetime>                               
      </ion-item>
    
      <ion-item [disabled]="enableButton" (click)="GetAsistenciasPL()">    
        <ion-icon slot="start" src="assets/icon/chalkboard-teacher-solid.svg"></ion-icon>
        <ion-label>Apertura</ion-label>
        <ion-note slot="end"> {{apc_desc}} </ion-note>
      </ion-item>
    
      <ion-button expand="block" 
                    class="btn-cons"
                    type="submit"
                    [disabled]="enableButton"
                    (click)="BuscarAsis()">                
          Buscar Asistencias
        </ion-button>
</ion-content>
