<!--
  Generated template for the BookingPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<app-header headerName="Tipo de servicio">

</app-header>
  <ion-content>
    <ion-content>
        <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
            <ion-refresher-content></ion-refresher-content>
          </ion-refresher>
  <ion-list>
    <ion-item *ngFor="let typeSpace of typeSpaces">
      <ion-thumbnail item-start (tap)="showDetail(typeSpace)">
        <img src="data:image/jpeg;base64,{{typeSpace.Cla_foto}}">
      </ion-thumbnail>
      <h2>{{typeSpace.Cla_nomb}}</h2>
      <p>{{typeSpace.Cla_desc}}</p>
      <button ion-button slot="end" (click)="SetSpaceType(typeSpace)" tappable>Continuar</button>
    </ion-item>
  </ion-list>     
  </ion-content>
  